.example-card {
  max-width: 500px;
  padding-right: 30px;
}

.header-image {
  background-size: cover;
}

#close-icon {
  position: absolute;
  right:10px;
  top: 18.5px;
  transition: all 0.2s ease-in;
}

#close-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #FF1744;
}

