<mat-card class="example-card">
  <mat-icon (click)="closeDossier()" id="close-icon">close</mat-icon>
  <mat-card-header>
    <img mat-card-avatar class="header-image" *ngIf="downloadURL | async; let url" [src]="url" alt="Account image">
    <mat-card-title>{{contact.firstName}} {{contact.lastName}}
      <span *ngIf="contact.phoneNumber != null">- {{contact.phoneNumber}}</span></mat-card-title>
    <mat-card-subtitle>{{contact.description}} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <mat-accordion multi="true" *ngIf="dossier != null && dossier.file.length > 0; else noDossier">

      <mat-expansion-panel *ngFor="let file of dossier.file">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{file.title}}
          </mat-panel-title>
          <mat-panel-description>
            {{file.time | date}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-icon style="float:right;cursor:pointer" (click)="changeEditMode(file.id)">edit</mat-icon>

        <p *ngIf="!isEditing(file.id)">{{file.note}}</p>

        <mat-form-field *ngIf="isEditing(file.id)">
          <input matInput placeholder="Title" required [(ngModel)]="file.title">
        </mat-form-field>

        <mat-form-field *ngIf="isEditing(file.id)" class="full-width">
          <textarea [(ngModel)]="file.note" matInput placeholder="Add a note"></textarea>
        </mat-form-field>

        <button *ngIf="isEditing(file.id)" (click)="deleteFile(file.id)" mat-button>Delete</button>
        <button *ngIf="isEditing(file.id)" (click)="updateDossier(file.id)" mat-raised-button color="primary">Save
        </button>

      </mat-expansion-panel>

    </mat-accordion>

  </mat-card-content>

</mat-card>

<ng-template #noDossier>
  No contact moments to display
</ng-template>
