<div class="view full-page-intro">

  <!-- Mask & flexbox options-->
  <div class="mask d-flex justify-content-center align-items-center ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 header">

          <h1>Hermit</h1>

          <p class="welcome-text">Make connections, face to face.
            Use our platform to your advantage.
            Start connecting now!</p>
          <br/>
          <p id="signup">Sign up here</p>
          <button mat-raised-button class="center actionButton" [routerLink]="['/register', 'form']">Register</button>
          <!-- Form -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-xl-5 mb-4">
          <div class="container sign-in" id="login">
            <p>Already a member?</p>
            <p id="login-text">Sign in here</p>

            <button mat-raised-button class="center actionButton" [routerLink]="['/login']">Login</button>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->

  </div>
  <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->

<div class="container" id="second-section">
  <h2>Networking made personal again</h2>
  <hr/>
  <p class="black sub-text">Hermit allows our users to network with eachother and having a history of when and where you
    met other users.
    By having the note feature, users have the ability to write a note with every connection they make.
  </p>

  <div class="container flex-box">
    <div>
      <div class="mat-icon">
        <mat-icon class="mat-icon-font-size">compare_arrows</mat-icon>
      </div>
      <h4>Transfer info</h4>
    </div>

    <div>
      <div class="mat-icon mat-calendar">
        <mat-icon class="mat-icon-font-size">today</mat-icon>
      </div>
      <h4>Events made easy</h4>
    </div>

    <div>
      <div class="mat-icon">
        <mat-icon class="mat-icon-font-size">timeline</mat-icon>
      </div>
      <h4>Watch your timeline</h4>
    </div>
  </div>
</div>
