.container {
  margin-top: 100px;
}

h1 {
  color: white;
  font-size: 6em;
  text-shadow: 3px 3px 10px rgba(10,10,10,0.3);
}

.header {
  text-align: left;
}

.header > p {
  line-height: 1.1;
}

h2 {
  font-weight: 400;
  font-size: 2.5em;
  color: rgba(10,10,10,0.85);
}

p {
  font-size: 2em;
  font-weight: 500;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

.downloadApp {
  width: 200px;
  height: 75px;
}

.view, .full-page-intro {
  background: linear-gradient(#ff6f61 1%, #fc8862 100%) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
}

#second-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
}

.black, .sub-text{
  color: rgba(10,10,10,0.85);
}

.sub-text {
  font-size: 1em;
  font-weight: 400;
}

.flex-box {
  display: flex;
  justify-content: space-around;
}

.container, .flex-box {
  margin-bottom: 100px;
}

.mat-icon-font-size {
  font-size: 6em;
}

.container, .mat-icon {
  min-width: 200px;
  text-align: center;
}

.mat-icon, .mat-calendar{
  margin-top: 10px;
}

h4 {
  font-size: 1em;
}

#signup {
  font-size: 1.4em;
}

#login {
  text-align: left;
  bottom: 0;
  right: 0;
}

.container, #login {
  margin-bottom: 0;
  margin-top: 205px;
}

#login-text{
  font-size: 1em;
}

.container {
  margin-top: 140px;
}

.sign-in {
  margin-left: 200px;
  font-size: 1em;
}

button {
  font-size: 1.3em;
}
