<mat-list>
  <h4 style="margin-top:5px" mat-subheader>Your events
    <span>
             <mat-form-field style="margin-left:10px" class="example-full-width">
          <input [(ngModel)]="searchTerm" matInput placeholder="Search">
               <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear"
                       (click)="searchTerm=''">
    <mat-icon>close</mat-icon>
  </button>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        </span></h4>
  <div *ngIf="events !== null && events.length > 0 && events !== undefined">
    <div *ngFor="let event of events | contactFilter:searchTerm">
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <h4 mat-line>{{event.title}}</h4>
        <p mat-line class="description">{{event.description}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div *ngIf="events === undefined || events === null || events.length === 0">
    <mat-list-item>
      <p mat-line class="description">You attended no events!</p>
    </mat-list-item>
  </div>
</mat-list>

