.node {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out,
  fill 0.1s ease-out,
  stroke 0.1s ease-out;
  -moz-box-shadow:    3px 3px 5px 6px #414141;
  -webkit-box-shadow: 3px 3px 5px 6px #414141;
  box-shadow:         3px 3px 5px 6px #414141;
  stroke: rgba(121,121,121,0.2);
  stroke-width: 20px;

}

.node-name {
  overflow-wrap: break-spaces;
  font-family: 'Montserat', sans-serif;
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 400;
  fill: white;
  text-shadow: 2px 2px 6px rgba(38,38,38,0.50);
}
