<h1 *ngIf="!isEditing" mat-dialog-title>Create Event</h1>
<h1 *ngIf="isEditing" mat-dialog-title>Edit Event</h1>
<div mat-dialog-content>

  <div class="row">
    <div class="col-sm-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Event Title" required [(ngModel)]="newEvent.title">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" required [(ngModel)]="newEvent.address" placeholder="Choose a location" id="place"
               #search autocomplete="off"
               autocapitalize="off"
               spellcheck="off">
      </mat-form-field>

      <br/>
      <agm-map [zoom]="zoom" [latitude]="newEvent.latitude" [longitude]="newEvent.longitude"
               (mapClick)="registerMapClick($event)">
        <agm-circle [latitude]="newEvent.latitude" [longitude]="newEvent.longitude"
                    [radius]="newEvent.radius"
                    [fillColor]="'red'"
                    [circleDraggable]="true"
                    [editable]="true"
                    (radiusChange)="changeRadius($event)"
                    (dragEnd)="changeCoords($event)">
        </agm-circle>
      </agm-map>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="newEvent.startDate" [matDatepicker]="startDate" placeholder="Choose start date">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="full-width">
        <input matInput placeholder="Start time" aria-label="24hr format" [format]="24"
               [ngxTimepicker]="startTime" readonly [(ngModel)]="eventStartTime">
      </mat-form-field>

      <ngx-material-timepicker #startTime [enableKeyboardInput]="true"></ngx-material-timepicker>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="newEvent.endDate" [matDatepicker]="endDate" placeholder="Choose end date">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="End time" aria-label="24hr format" [format]="24"
               [ngxTimepicker]="endTime" readonly [(ngModel)]="eventEndTime">
      </mat-form-field>

      <ngx-material-timepicker #endTime [enableKeyboardInput]="true"></ngx-material-timepicker>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <mat-form-field class="full-width">
        <textarea matInput [(ngModel)]="newEvent.description" placeholder="Event description"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="input-button" mat-raised-button>
        <input id="file" name="file" type="file" class="input-file" (change)="onFileSelected($event)">
        <label for="file" class="input-label">Upload image</label>
      </button>
      <br/>
    </div>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button *ngIf="!isEditing" mat-raised-button color="primary" align="end" (click)="createEvent()" [mat-dialog-close]="data"
          cdkFocusInitial>Create
  </button>

  <button *ngIf="isEditing" mat-raised-button color="primary" align="end" (click)="createEvent()" [mat-dialog-close]="data"
          cdkFocusInitial>Edit
  </button>
</div>
