agm-map {
  height: 300px;
}

.mat-dialog-content {
  max-height: 100% !important;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-label {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.input-button {
  width: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
}
