@media only screen and (min-width: 480px) {

  app-navigation {
    grid-area: navbar;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #application {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    position:absolute;
  }

}
