<app-navigation></app-navigation>
<div class="container" id="events">
  <h2 id="event-title">Events</h2>
  <hr/>
  <div class="eventsContainer" *ngFor="let event of events">
    <mat-card class="event-card">
      <img mat-card-image *ngIf="event.imageUrl !== undefined" [src]="event.imageUrl" alt="Event image">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{event.title}}</mat-card-title>
        <mat-card-subtitle>
          {{event.startDate | date}} - {{event.endDate | date}}
          <br/>
          {{event.address}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="event-info">
         {{event.description}}
          <mat-icon (click)="openEditDialog(event)">edit</mat-icon>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
