.event-card {
  max-width: 400px;
}

#event-title {
  padding: 16px;
}

.eventsContainer {
  display: inline-flex;
}

.eventsContainer mat-card {
  margin: 15px;
}

.event-info {
  font-weight: 400;
}

#events {
  margin-left: 5%;
  margin-right: 5%;
}

#event-title {
  padding-bottom: 0;
  margin-bottom: 0;
}
