<app-navigation></app-navigation>

<div class="container-fluid" id="wrapper" style="height:100%">
  <div class="row" style="height:100%">
    <div class="col-sm-3 border-right" style="height: 100%; ">
      <mat-tab-group class="overflow-hidden">
        <mat-tab label="Connections">
          <app-connection-list (changeDossier)="changeSelected($event)"
                               [contacts]="contacts"></app-connection-list>
        </mat-tab>
        <mat-tab label="Events">
          <app-event-list [events]="eventsWithInfo"></app-event-list>
        </mat-tab>

        <mat-tab label="Potential">
          <app-potential-list [events]="events"></app-potential-list>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="col-sm overflow-hidden" style="padding-left: 0;">
      <app-dossier *ngIf="selectedContact != null" [contact]="selectedContact" [dossier]="dossier"
                   (close)="closeDossier()"></app-dossier>
      <app-dashboard-graph *ngIf="inputNodes != null; else emptystate" [names]="changed"
                           [inputNodes]="nodes"></app-dashboard-graph>
    </div>
  </div>
</div>

<ng-template #emptystate>

  <div class="hermit">
    <img class="empty-state" src="../../assets/images/emptystate.png" alt="Lonely"/>
    <h2 class="mat-h2">Your crab is lonely!</h2>
  </div>
</ng-template>
