app-connection:hover {
  cursor: pointer;
}

app-dossier {
  position: absolute;
}

mat-list {
  min-width: 434.25px;
}

.border-right {
  border-right: 2px solid rgba(121,121,121,0.1);
}

#wrapper {
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

.empty-state{
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

.hermit {
opacity: 0.5;
  width:100%;
  text-align: center;

  height: 100%;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

