<mat-toolbar color="primary">

  <h1 id="hermit" [routerLink]="['/dashboard']">Hermit</h1>

  <span class="example-spacer"></span>

  <!-- Event button -->
  <button id="add-event" (click)="showDialog()" mat-raised-button>
    <mat-icon>add</mat-icon>
    Add Event
  </button>
  <button id="view-events" [routerLink]="['/events']" mat-raised-button>All Events</button>
  <button id="icon" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon mat-list-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/account">
      <mat-icon>settings</mat-icon>
      <span>Account settings</span>
    </button>
    <button routerLink="/" (click)="logoutUser()" mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span>Log-out</span>
    </button>
  </mat-menu>

</mat-toolbar>

