

.example-spacer {
  flex: 1 1 auto;
}

#account-settings {
  color: black;
}

#add-event, #view-events {
  color: #ff6f61;
  border-radius: 18px;
  font-size: 0.8em;
  vertical-align: center;
}

#icon {
  margin-left: 10px;
}

#plus-icon {
  margin-right: 1px;
  margin-left: -5px;
}

#hermit {
  font-size: 1.8em;
  text-shadow: 3px 3px 10px rgba(10, 10, 10, 0.2);
}

#hermit:hover {
  cursor: pointer;
}

#view-events, #add-event {
  margin-left: 18px;
}

@media only screen and (max-width: 480px) {
  #view-events, #add-event {
    font-size: 10px;
    height: 25px;
    margin-left: 18px;
  }

  #add-event mat-icon {
    display: none;
  }

  #add-event span {
    text-align: center;
    margin: auto;
  }
}
