/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.no-list-style{
  list-style: none;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.noHyper{
  color: inherit;
  text-decoration: none;
}

.noHyper:hover{
  color: inherit;
  text-decoration: none;
}

.full-width {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  app-root {
    margin: 0;
    padding: 0;
    display: grid;

    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 100vh;
    grid-template-rows: auto auto;
    grid-template-areas: "navbar navbar" "middle middle";
  }
}
