<app-navigation></app-navigation>
<div class="account-container">
  <!--Card-->
  <mat-card>
    <mat-card-header>
      <div class="row full-width imageRow center">
        <div class="flex">
          <img id="profile-picture" *ngIf="downloadURL | async; let url" [src]="uploadedUrl || url" alt="Account image">
          <button class="input-button" mat-raised-button>
            <label for="file" class="input-label">Choose a file</label>
          </button>
        </div>
      </div>
    </mat-card-header>
    <!--Card content-->
    <mat-card-content>
      <!-- Form -->
      <form (ngSubmit)="onSubmit()" #accountForm="ngForm" name="account-form" class="account-form" method="post">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="form-field">
              <input name="firstName" matInput placeholder="First name" required [(ngModel)]="contact.firstName">
              <button mat-button *ngIf="contact.firstName != undefined" matSuffix mat-icon-button aria-label="Clear"
                      (click)="contact.firstName=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <br/>

            <mat-form-field>
              <input name="lastName" matInput placeholder="Last name" required [(ngModel)]="contact.lastName">
              <button mat-button *ngIf="contact.lastName != undefined" matSuffix mat-icon-button aria-label="Clear"
                      (click)="contact.firstName=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <input name="phonenumber" matInput placeholder="Phonenumber" [(ngModel)]="contact.phoneNumber">
              <button mat-button *ngIf="contact.firstName != undefined" matSuffix mat-icon-button aria-label="Clear"
                      (click)="contact.phoneNumber=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field>
              <input name="password" matInput placeholder="Password" type="password" ngModel>
            </mat-form-field>

            <br/>

            <mat-form-field>
              <input name="password" matInput placeholder="Re-enter password" type="password">
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <textarea name="description" matInput placeholder="Description"
                        [(ngModel)]="contact.description"></textarea>
              <button mat-button *ngIf="contact.description != undefined" matSuffix mat-icon-button aria-label="Clear"
                      (click)="contact.description=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>


        <br/>

        <input type="file" id="file" class="input-file" name="file" (change)="onFileSelected($event)" readonly
               placeholder="Maximum file size is 1MB">


        <mat-card-actions class="center">
          <button type="submit" mat-raised-button color="primary" class="actionButton"
                  [disabled]="!accountForm.form.valid">Save
          </button>
          <button mat-button color="primary" class="actionButton" [routerLink]="['/dashboard']">Cancel</button>
        </mat-card-actions>
      </form>
      <!-- Form -->
    </mat-card-content>
  </mat-card>
</div>
