.account-container {
 max-width: 700px;
  margin: 100px auto auto;
}

.account-form {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  text-align: center;
}

#profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.imageRow{
  text-align:center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

mat-card-header {
  align-items: center;
}

.container-account-header {

}

.contact-firstname-lastname {
  float: left;
  top: 50%;
  height: auto;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-label {
  font-size: 1em;
  font-weight: 600;
  margin:0;
}

.input-button {
  width: 130px;
  margin-left: 20px;
}


@media only screen and (max-width: 480px) {
  #profile-picture {
    width: 120px;
    height: 120px;
  }

  .account-container {
    margin-top: 0;
  }
}
