.loginForm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}
button {
  background-color: #227db7;
  color: white;
}
.matCenter{
  text-align: center;
}
mat-form-field{
  width: 60% !important;
}
mat-card{
  margin-top: 3em;
}

@media only screen and (min-width: 480px) {
  .loginForm{
    width: 400px;
  }
}

.login {
  background-image: url("../../assets/images/login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 1080px;
  position: absolute;
}

#btnLogin {
  margin-bottom: 10px;
}

.login-buttons {
  font-weight: 400;
  margin-top: 15px;
}
