<div class="login">
  <mat-card class="loginForm">
    <div class="matCenter">
      <mat-card-title *ngIf="isLogin">Login</mat-card-title>
      <form (ngSubmit)="loginUser()" #authForm="ngForm">

        <mat-card-content>
          <div *ngIf="!isLogin">
            <mat-card-title>Register</mat-card-title>
            <mat-form-field>
              <input matInput placeholder="First name" required [(ngModel)]="firstName" name="firstName">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last name" required [(ngModel)]="lastName" name="lastName">
            </mat-form-field>
          </div>
          <mat-form-field>
            <input matInput placeholder="Email" required [(ngModel)]="email" name="email">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" required [(ngModel)]="password" name="password">
          </mat-form-field>
        </mat-card-content>
        <button *ngIf="isLogin; else elseButton" id="btnLogin" class="login-buttons" type="submit" [disabled]="!authForm.form.valid"
                mat-raised-button color="primary">Login
        </button>
        <p *ngIf="isLogin; else elseRegisterLogin" class="login-buttons">No account? <a [routerLink]="" (click)="changeAction()">Sign up!</a>
        </p>
      </form>
    </div>
  </mat-card>

  <ng-template #elseButton>
    <button *ngIf="!isLogin" type="submit" [disabled]="!authForm.form.valid" mat-raised-button color="primary">
      Register
    </button>
  </ng-template>

  <ng-template #elseRegisterLogin>
    <p class="login-buttons">Already registered? <a [routerLink]="" (click)="changeAction()">Login!</a></p>
  </ng-template>
</div>
