.description{
  opacity: .5;
  font-style: italic;
}

.deleteIcon{
  float:right;
}

mat-list-item:hover {
  cursor: pointer;
}

.contactIcon{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
}
