<mat-list>
  <h4 style="margin-top:5px" mat-subheader>Your connections
    <span>
             <mat-form-field style="margin-left:10px" class="example-full-width">
          <input [(ngModel)]="searchTerm" matInput placeholder="Search">
               <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear"
                       (click)="searchTerm=''">
    <mat-icon>close</mat-icon>
  </button>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        </span></h4>
  <div *ngIf="contacts !== null">
    <div *ngFor="let contact of contacts | contactFilter:searchTerm">
      <mat-list-item (click)="emitChangeDossier($event, contact.id)">

        <img matListAvatar class="contactIcon" *ngIf="contact.imageUrl !== undefined" [src]="contact.imageUrl"
             alt="Account image">

        <mat-icon *ngIf="contact.imageUrl === undefined" mat-list-icon>account_circle</mat-icon>


        <h4 mat-line>{{contact.firstName}} {{contact.lastName}}
          <mat-icon (click)="deleteConnection(contact.id)" class="deleteIcon">delete</mat-icon>
        </h4>
        <p mat-line class="description">{{contact.description}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div *ngIf="contacts === undefined || contacts == null || contacts.length === 0">
    <mat-list-item>
      <p mat-line class="description">You have no connections!</p>
    </mat-list-item>
  </div>
</mat-list>

